.cart-overlay-container {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.95);
  width: 300px;
  transform-origin: bottom;
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;

}

.cart-wrapper {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  transform: translateY(0);
  transition: transform 0.2s ease-in-out;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.cart-overlay-container.open {
  transform: translateY(0);
}

.arrow {
  text-align: center;
  cursor: pointer;
  padding: 10px;
  background-color: #fff;
  border-top: 1px solid #d54110;
  border-left: 1px solid #d54110;
  border-right: 1px solid #d54110;
  border-bottom: 1px solid #fff;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  color: #4c3017;
}

.menu {
  background-color: #fff;
  border: 1px solid #d54110;
  padding: 10px;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  padding: 5px;
  cursor: pointer;
}
