/* Home.css */
body {
    background-color: #f0f0f0; /* Light gray background for the entire page */
  }
  
  .container {
    display: flex;
    justify-content: center;
    margin-top: 0;
    height: 100vh;
    border: 1px solid #ddd;
    background-color: white; /* White background for the container */
  }
  
  .image-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 0;
    height: 100vh;
    border: 1px solid #ddd;
    background-color: white; /* White background for the image container */
  }
  
  .image-link {
    text-decoration: none;
  }
  
  .image {
    width: 600px;
    height: 300px;
    transition: transform 0.3s;
    border: 1px solid #ddd;
    background-color: white; /* White background for the images */
  }
  
  .image-link:hover {
    transform: scale(1.1);
  }
  
  .home-container {
    text-align: center;
    margin-top: -30%;
    border: 1px solid #ddd;
    background-color: gray; /* White background for the home container */
  }
  
  /* Discounts Section */
  .discounts-container {
    margin-top: 10px;
    border: 1px solid #ddd;
    background-color:  gray; /* White background for the discounts container */
  }
  
  .discounts-container h2,
  .featured-items-container h2,
  .location-container h2 {
    font-size: 24px;
  }
  
  .image-box {
    display: inline-block;
    margin: 5px;
    border: 1px solid #ddd;
    background-color: gray; /* White background for the image boxes */
    overflow: hidden;
    width: 120px;
    height: 120px;
  }
  
  .circular-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  /* Featured Items Section */
  .featured-items-container {
    margin-top: 10px;
    border: 1px solid #ddd;
    background-color: gray; /* White background for the featured items container */
  }
  
  /* Location Section */
  .location-container {
    margin-top: 10px;
    border: 1px solid #ddd;
    background-color: gray; /* White background for the location container */
  }
  
  .picture-frame {
    display: inline-block;
    margin-top: 10px;
    border: 1px solid #ddd;
    background-color: gray; /* White background for the picture frame */
    overflow: hidden;
    width: 300px;
    height: 300px;
  }
  
  .location-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  