/* font-family: 'Encode Sans Condensed', sans-serif;
font-family: 'Gruppo', sans-serif;
font-family: 'Manrope', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto Mono', monospace;
font-family: 'Source Code Pro', monospace; */

html {
  background-color: rgb(233,229,221);
  /* font-family: 'Poppins', sans-serif; */
}

body {
  padding: 0;
  margin: 0;
  background-color: rgb(233,229,221);
}

.main {
position: relative;
font-family: 'Poppins', sans-serif;
}

/* HOME CSS */
.header-container {
  display: flex;
  flex-direction: column-reverse;
}

.navbar {
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  flex-direction: row;
  background-color: rgb(233,229,221);
  border-bottom: 1px solid black;
  /* padding: 20px; */
}

.header img {
  margin: 0;
  padding: 0;
}

.nav-a {
  text-decoration: none;
  color: rgb(10, 10, 10);
  font-size: 18px;
}

.nav-a:hover {
  text-decoration: none;
  /* color: rgb(171,44,45); */
  color: black;
  font-size: 18px;
  text-shadow: 1px 1px 2px grey;
}

a {
  text-decoration: none;
  color: black;
  font-size: 16px;
}

/* CYOP CSS */
.custompizza {
  width: 200px;
  margin:20px;
}

.CYOP {
  display:flex;
  flex-direction: row;
  padding:20px;
  margin: 40px;
}

.leftside, .rightside {
  width: 50%;
}
.leftside {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.buttonGroup {
  display: flex;
  flex-wrap: wrap;
}
.buttonList {
  width:120px;
  margin:1px;
}



/* pizza page */

.pizza-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 0 40px 0;
  flex-direction: row;
  font-family: 'Roboto Mono', monospace;
}

.pizza-map {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 60px;
  justify-items: center;
  padding: 30px 30px 30px 30px;
}

.pizza-card-image {
  min-width: 300px;
  min-height: 300px;
  max-width: 300px;
  max-height: 300px;
  /* border: 2px solid black; */
  box-shadow: 1px 1px 4px grey;
  /* , 6px 6px 4px grey; */
  border-radius: 12px;
}

.pizza-card-image:hover {
  min-width: 300px;
  min-height: 300px;
  max-width: 300px;
  max-height: 300px;
  /* border: 2px solid black; */
  box-shadow: 1px 1px 4px grey, 3px 3px 4px darkslategrey;
  border-radius: 12px;
}

h4 {
  font-size: 20px;
  padding: 12px 0 0 0;
  text-decoration: none;
}

h1 {
  font-weight: 600;
}

.pizza-link {
  text-decoration: none;
  color: black;
}


/* FOOTER CSS */
li {
  list-style: none;
}
.footer {
  display:flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-around;
  background-image: url(./brick.jpg);
  background-size: cover;
  /* position: absolute;
  bottom: 0; */
  border-top: 2px solid black;
  margin-top: 20px;
}
.footer card-footer {
  padding: 0px;
}

.footer div:nth-child(1) {
  color: rgb(233,229,221);
}
.footer div:nth-child(2) {
  color:rgb(233,229,221);
}
.footer div:nth-child(3) {
  color:rgb(233,229,221);
}
.inner-footer {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  padding-top: 10px;
}
.inner-footer2{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}
.footer-ul {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
.footer-section {
  padding-top: 20px;
}

a{
  margin: 0 5px 0 5px;
  color: black;
}
a:hover {
  color: black;
}

li {
  padding: 10px 50px 0 50px;
}

.footer-list {
  color: rgb(233,229,221);
  text-decoration: none;
}

.footer-list:hover{
  text-decoration-line: overline;
  color: white;
}







