/* font-family: 'Encode Sans Condensed', sans-serif;
font-family: 'Gruppo', sans-serif;
font-family: 'Manrope', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto Mono', monospace;
font-family: 'Source Code Pro', monospace; */

html {
  background-color: white;
  font-family: 'Poppins', sans-serif;
}

body {
  padding: 0;
  margin: 0;
}

/* HOME CSS */
.header-container {
  display: flex;
  flex-direction: column-reverse;
}

.navbar {
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  flex-direction: row;
  background-color: rgb(233,229,221);
  border-bottom: 1px solid black;
  padding: 20px;
}

.header {
  /* background: url(./assets/pizza-header.jpg); */
  /* height: auto;
  width: 100%; */
  /* max-width: 100%; */
  /* background-size:cover; */
  /* background-position: 50% 80%; */
  border-bottom: 1px solid black;
  /* overflow:visible; */
}

.header img {
  margin: 0;
  padding: 0;
}


a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}

a:hover {
  text-decoration: none;
  color: black;
  font-size: 18px;
  text-decoration-line: underline;
}