/* font-family: 'Encode Sans Condensed', sans-serif;
font-family: 'Gruppo', sans-serif;
font-family: 'Manrope', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto Mono', monospace;
font-family: 'Source Code Pro', monospace; */

html {
  background-color: white;
  font-family: 'Poppins', sans-serif;
}

body {
  padding: 0;
  margin: 0;
}

/* HOME CSS */
.header-container {
  display: flex;
  flex-direction: column-reverse;
}

.navbar {
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  flex-direction: row;
  background-color: rgb(233,229,221);
  border-bottom: 1px solid black;
  /* padding: 20px; */
}

.header {
  /* background: url(./assets/pizza-header.jpg); */
  /* height: auto;
  width: 100%; */
  /* max-width: 100%; */
  /* background-size:cover; */
  /* background-position: 50% 80%; */
  border-bottom: 1px solid black;
  /* overflow:visible; */
}

.header img {
  margin: 0;
  padding: 0;
}


a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}

a:hover {
  text-decoration: none;
  color: rgb(171,44,45);
  font-size: 18px;
  /* text-decoration-line: underline; */
}




/* FOOTER CSS */
li {
  list-style: none;
}
.footer {
  display:flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-around;
  background-color: rgb(179, 177, 177);
  position: absolute;
  bottom: 0;
  border-top: 1px solid black;
}
.footer div:nth-child(1) {
  color: black;
}
.footer div:nth-child(2) {
  color:black;
}
.footer div:nth-child(3) {
  color:black;
}
.inner-footer {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  padding-top: 10px;
}
.inner-footer2{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}
.footer-ul {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

a{
  margin: 0 5px 0 5px;
}

li {
  padding: 10px 50px 0 50px;
}

.custompizza {
  width: 200px;
  margin:20px;
}

.CYOP {
  display:flex;
  flex-direction: row;
  padding:20px;
  margin: 40px;
}

.leftside, .rightside {
  width: 50%;
}
.leftside {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.buttonGroup {
  display: flex;
  flex-wrap: wrap;
}
.buttonList {
  width:120px;
  margin:1px;
}


